@model OrderProcessingViewModel
@{
    Layout = "_Layout";
}

<div>
    <form asp-action="OrderProcessing" method="post">
        <div class="mb-3">
            <input asp-for="Order.OrderId" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label>Сумма заказа</label>
            <input asp-for="Order.TotalSum" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label>Адрес доставки</label>
            <input asp-for="AdressLine" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label>ФИО</label>
            <input asp-for="Order.Name" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Order.Email" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label>Доставка</label>
            <input asp-for="Order.Shipping" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Трек-номер</label>
            <input asp-for="Order.Track" class="form-control" required />
        </div>
        <div class="mb-3">
            @if (Model.Order.IsEmail)
            {
                <label>Письмо было отправлено!</label>
            }
            else
            {
                <label>Письмо еще не отправлялось!</label>
            }
        </div>
        <div class="text-center">
            <button class="btn btn-primary" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" type="submit">Сохранить</button>
            <button id="submitBtn" class="btn btn-info"
               asp-action="SendEmail" 
                asp-controller="AdminOrder"
                asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"
                asp-route-orderId="@Model.Order.OrderId">Отправить Email</button>
        </div>
    </form>

    <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel"
         data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Отправка письма.</h5>
                </div>
                <div class="modal-body">
                    Подождите, письмо отправляется.
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('submitBtn').addEventListener('click', checkRequiredFields);
    function checkRequiredFields() {
        $('#orderModal').modal('show');
    }
</script>


