@model Product
@{
}

<form asp-action="CreateProduct" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label>Название</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Описание</label>
        <input asp-for="Description" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Короткое описание</label>
        <input asp-for="ShortDescription" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Категория</label>
        <input asp-for="Category.Name" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Цена</label>
        <input asp-for="Price" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Изображение</label>
        <input asp-for="ImageUrl" class="form-control" required />
    </div>

    <div class="form-check">
        <input asp-for="IsVisible" /> Активен
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Сохранить" />
    </div>
</form>