@using EvaFloraStore.Models.ViewModels;
@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var item in Model.Products)
    {
        <partial name="ProductSummary" model="item" />
    }
</div>