@model Cart

<div class="me-3">
    @if (!Context.Request.Path.StartsWithSegments("/Cart"))
    {
        @if (Model.Lines.Count() > 0)
        {
            <small class="navbar-text">
                @Model.Lines.Sum(x => x.Quantity) товар(ов)
                @Model.ComputeTotalValue().ToString("c")
            </small>
        }
    }
</div>
<a class="btn btn-sm btn-outline-dark" asp-area=""
   asp-controller="Cart"
   asp-action="GetCart"
   asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Корзина</a>


