@page 
@model EvaFloraStore.Pages.ProductDetailsModel
@{
}

<div>
    <h1>@Model.Product.Name</h1>
</div>
<div>
    @Model.Product.Description
</div>
<div class="text-start mt-3">
    <a class="btn btn-dark" href="@Model.ReturnUrl">Назад</a>
</div>

