@model ProductListViewModel
@{
}
<div page-model="@Model.PageDivider"
     page-action="Index"
     page-clases-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-secondary"
     page-class-selected="btn-dark"
     page-url-category=@Model.CurrentCategory
     class="btn-group">
</div>