@model PageDividerViewModel
@{
}

<div class="d-flex justify-content-start">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <button class="btn btn-primary me-2">
                @i
            </button>
        }
        else
        {
            <a href="?category=@Model.Category&productPage=@i" class="btn btn-secondary me-2">
                @i
            </a>
        }
    }
</div>
